@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #1f1f1f;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.container {
    border: solid 2px #C2CAFD;
    background-color: #303134;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    position: relative;
    max-width: 666px;
    min-width: 666px;
    width: 100%;
    height: 310px;
}
  
h2{
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: bold;
}

h6{
    color: aliceblue;
    width: 100%;
    font-size: 12px;
    margin-top: 1rem;
}

form {
    display: flex;
    align-items: start;
}

#textos{
    width: 300px;
}

#formcolumn {
    display: grid;
    width: 300px;
    margin-top: 3rem;
    grid-template-columns: 1fr;
    margin-bottom: 1rem; 
}

input{
    background-color: aliceblue;
    color: black;
}
.input-field {
    position: relative;
}

form .input-field {
    margin-bottom: 1rem;
}

.input-field input {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 300px;
    height: 40px;
    padding: 12px 24px;
    background-color: #e3ebf2;
    border-radius: 4px;
    font-weight: 600;
}

.input-field ::placeholder{
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
}
.input-field input:hover {
    letter-spacing: 0.5px;
    transition: all .3s ease-in-out;
}

.input-field input::placeholder {
    font-size: 0.9rem;
}

#button{
    position: absolute;
    width: 7%;
    height: 50%;
    left: 90%;
    top: 25%;
    cursor: pointer;
}

input[type="submit"] {
    padding: 0.4rem;
    width: 300px;
    background-color: #C2CAFD;
    cursor: pointer;
    color: #303134;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 4px;
    transition: all 0.3s ease;
    height: 35px;
    margin-top: 3rem;
}

body input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background-color: #C2CAFD;
}

.footer {
    display: flex;
    flex-direction: column;
}

.footer span {
    color: aliceblue;
    font-size: 0.8rem;
    font-weight: 00;
    text-align: center;
}

a{
  color: #C2CAFD;
}
   
a:hover{
    color: #C2CAFD;
    opacity: 0.7;
}

img{
    display: flex;
    height: 45px;
    width: 50px;
    margin-bottom: .5rem;
}

@media (max-width: 800px) {
    
    main.container {
        padding: 20px 20px 10px 20px;
        min-width: 340px;
        max-width: 340px;
        height: 400px;
    }
    
    main h2 {
        width: 100%;
    }

    form {
        flex-direction: column;
    }
    
    #formcolumn {
        margin-top: 2rem;
        display: grid;
        margin-left: 0px;
    }
    
    .input-field input {
        width: 100%;
    }
    
    form input[type="submit"] {
        margin-top: 3rem;
        margin-left: 0;
    }
    
    #button{
        width: 6%;
    }

    .footer{
        display: flex;
        flex-direction: column;
        width: 300px;
        margin-left: auto;
        position: absolute;
        bottom: 5px;
    }
}
@media (max-width: 600px) {

    main.container{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        min-width: 100vw;
        width: 100%;
        border-radius: 0px;
        border: 0;
    }
    
    form input[type="submit"], .input-field input, #formcolumn {
        width: 100%;
    }

    #button{
        width: 21px;
    }

    .footer{
        width: 100%;
        position: initial;
    }
}@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #1f1f1f;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.container {
    border: solid 2px #C2CAFD;
    background-color: #303134;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    position: relative;
    max-width: 666px;
    min-width: 666px;
    width: 100%;
    height: 310px;
}
  
h2{
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: bold;
}

h6{
    color: aliceblue;
    width: 100%;
    font-size: 12px;
    margin-top: 1rem;
}

form {
    display: flex;
    align-items: start;
}

#textos{
    width: 300px;
}

#formcolumn {
    display: grid;
    width: 300px;
    margin-top: 3rem;
    grid-template-columns: 1fr;
    margin-bottom: 1rem; 
}

input{
    background-color: aliceblue;
    color: black;
}
.input-field {
    position: relative;
}

form .input-field {
    margin-bottom: 1rem;
}

.input-field input {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 300px;
    height: 40px;
    padding: 12px 24px;
    background-color: #e3ebf2;
    border-radius: 4px;
    font-weight: 600;
}

.input-field ::placeholder{
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
}
.input-field input:hover {
    letter-spacing: 0.5px;
    transition: all .3s ease-in-out;
}

.input-field input::placeholder {
    font-size: 0.9rem;
}

#button{
    position: absolute;
    width: 7%;
    height: 50%;
    left: 90%;
    top: 25%;
    cursor: pointer;
}

input[type="submit"] {
    padding: 0.4rem;
    width: 300px;
    background-color: #C2CAFD;
    cursor: pointer;
    color: #303134;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 4px;
    transition: all 0.3s ease;
    height: 35px;
    margin-top: 3rem;
}

body input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background-color: #C2CAFD;
}

.footer {
    display: flex;
    flex-direction: column;
}

.footer span {
    color: aliceblue;
    font-size: 0.8rem;
    font-weight: 00;
    text-align: center;
}

a{
  color: #C2CAFD;
}
   
a:hover{
    color: #C2CAFD;
    opacity: 0.7;
}

img{
    display: flex;
    height: 45px;
    width: 50px;
    margin-bottom: .5rem;
}

@media (max-width: 800px) {
    
    main.container {
        padding: 20px 20px 10px 20px;
        min-width: 340px;
        max-width: 340px;
        height: 400px;
    }
    
    main h2 {
        width: 100%;
    }

    form {
        flex-direction: column;
    }
    
    #formcolumn {
        margin-top: 2rem;
        display: grid;
        margin-left: 0px;
    }
    
    .input-field input {
        width: 100%;
    }
    
    form input[type="submit"] {
        margin-top: 3rem;
        margin-left: 0;
    }
    
    #button{
        width: 6%;
    }

    .footer{
        display: flex;
        flex-direction: column;
        width: 300px;
        margin-left: auto;
        position: absolute;
        bottom: 5px;
    }
}
@media (max-width: 600px) {

    main.container{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        min-width: 100vw;
        width: 100%;
        border-radius: 0px;
        border: 0;
    }
    
    form input[type="submit"], .input-field input, #formcolumn {
        width: 100%;
    }

    #button{
        width: 21px;
    }

    .footer{
        width: 100%;
        position: initial;
    }
}@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #1f1f1f;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.container {
    border: solid 2px #C2CAFD;
    background-color: #303134;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    position: relative;
    max-width: 666px;
    min-width: 666px;
    width: 100%;
    height: 310px;
}
  
h2{
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: bold;
}

h6{
    color: aliceblue;
    width: 100%;
    font-size: 12px;
    margin-top: 1rem;
}

form {
    display: flex;
    align-items: start;
}

#textos{
    width: 300px;
}

#formcolumn {
    display: grid;
    width: 300px;
    margin-top: 3rem;
    grid-template-columns: 1fr;
    margin-bottom: 1rem; 
}

input{
    background-color: aliceblue;
    color: black;
}
.input-field {
    position: relative;
}

form .input-field {
    margin-bottom: 1rem;
}

.input-field input {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 300px;
    height: 40px;
    padding: 12px 24px;
    background-color: #e3ebf2;
    border-radius: 4px;
    font-weight: 600;
}

.input-field ::placeholder{
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
}
.input-field input:hover {
    letter-spacing: 0.5px;
    transition: all .3s ease-in-out;
}

.input-field input::placeholder {
    font-size: 0.9rem;
}

#button{
    position: absolute;
    width: 7%;
    height: 50%;
    left: 90%;
    top: 25%;
    cursor: pointer;
}

input[type="submit"] {
    padding: 0.4rem;
    width: 300px;
    background-color: #C2CAFD;
    cursor: pointer;
    color: #303134;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 4px;
    transition: all 0.3s ease;
    height: 35px;
    margin-top: 3rem;
}

body input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background-color: #C2CAFD;
}

.footer {
    display: flex;
    flex-direction: column;
}

.footer span {
    color: aliceblue;
    font-size: 0.8rem;
    font-weight: 00;
    text-align: center;
}

a{
  color: #C2CAFD;
}
   
a:hover{
    color: #C2CAFD;
    opacity: 0.7;
}

img{
    display: flex;
    height: 45px;
    width: 50px;
    margin-bottom: .5rem;
}

@media (max-width: 800px) {
    
    main.container {
        padding: 20px 20px 10px 20px;
        min-width: 340px;
        max-width: 340px;
        height: 400px;
    }
    
    main h2 {
        width: 100%;
    }

    form {
        flex-direction: column;
    }
    
    #formcolumn {
        margin-top: 2rem;
        display: grid;
        margin-left: 0px;
    }
    
    .input-field input {
        width: 100%;
    }
    
    form input[type="submit"] {
        margin-top: 3rem;
        margin-left: 0;
    }
    
    #button{
        width: 6%;
    }

    .footer{
        display: flex;
        flex-direction: column;
        width: 300px;
        margin-left: auto;
        position: absolute;
        bottom: 5px;
    }
}
@media (max-width: 600px) {

    main.container{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        min-width: 100vw;
        width: 100%;
        border-radius: 0px;
        border: 0;
    }
    
    form input[type="submit"], .input-field input, #formcolumn {
        width: 100%;
    }

    #button{
        width: 21px;
    }

    .footer{
        width: 100%;
        position: initial;
    }
}